<tr>
  <td>
    <%= image_tag item[:image]  %>
    <%= item[:name]  %>
  </td>
  <td>
    <p><%= item[:description] %></p>
  </td>
  <td>
    <%= humanized_money_with_symbol item[:item_price] %>
  </td>
  <td>
    <%= item[:qty] %>
  </td>
  <td>
    <%= humanized_money_with_symbol item[:total_price] %>
  </td>
</tr>